@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Status */
.inProgress {
  color: #038efd;
  background-color: rgb(from #038efd r g b / 0.1);
}

.completed {
  color: #3ac167;
  background-color: rgb(from #3ac167 r g b / 0.1);
}

.pending {
  color: #e68f3d;
  background-color: rgb(from #e68f3d r g b / 0.1);
}

.canceled {
  color: #ef685d;
  background-color: rgb(from #ef685d r g b / 0.1);
}

/* UTILS */
.horizontalDivider {
  width: 100%;
  height: 2px;
  background-color: lightgray;
  flex-shrink: 0;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem 1rem;
}

.bookingContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  width: 55vh;
  height: calc(100vh - 2rem);
  overflow-y: auto;
  padding: 0;
  scrollbar-width: none;
  animation: slideInRight 0.4s ease forwards;
}

.bookingContainer::-webkit-scrollbar {
  display: none;
}

.topBar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  padding: 1.3rem 1.3rem 0.8rem 1.3rem;
  border-radius: 1rem 1rem 0 0;
}

.topBarContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

.bill {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 500;
}

.billTitle {
  color: gray;
  font-size: 0.8rem;
}

.billID {
  color: black;
  font-size: 0.85rem;
}

.right {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}

.button {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  padding: 0.3rem 0.5rem;
  font-size: 0.75rem;
  color: gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.button svg {
  width: 0.8rem;
  height: 0.8rem;
  color: gray;
}

.exit svg {
  width: 1.3rem;
  height: 1.3rem;
  color: gray;
  cursor: pointer;
}

.bookingContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  padding: 0rem 1.3rem 1.3rem 1.3rem;
}

.bookingContentSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 0.7rem;
  color: gray;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.detail {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.detail h1 {
  font-size: 0.75rem;
  font-weight: 500;
  color: gray;
}

.detail span {
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
}

.status {
  font-size: 0.65rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
}

.cash {
  color: green;
}

.serviceTable {
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 0.5rem;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.serviceTable th:first-child {
  border-top-left-radius: 0.5rem;
  width: 75%;
}

.serviceTable th:last-child {
  border-top-right-radius: 0.5rem;
}

.serviceTable th {
  padding: 0.5rem;
  border-bottom: 2px solid lightgray;
  text-align: start;
  font-size: 0.7rem;
  font-weight: 500;
  color: gray;
  background-color: #f8f9fb;
}

.serviceName {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.serviceName img {
  border-radius: 0.3rem;
}

.serviceTable td {
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.5rem;
}

.viewDetails {
  text-align: center;
  padding: 0.4rem 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.4rem;
  color: var(--selective-yellow);
  font-size: 0.65rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.addNote {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  font-weight: 500;
  gap: 0.5rem;
}

.addNote h1 {
  color: black;
}

.addNote span {
  color: gray;
}

.addNote textarea {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.subPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  font-weight: 500;
}

.subPrice h1 {
  color: gray;
}

.subPrice p {
  color: black;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
}

.shield {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.shield svg {
  width: 1rem;
  height: 1rem;
  color: green;
}

.shield span {
  font-size: 0.75rem;
  font-weight: 500;
  color: gray;
}
