.select {
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  color: gray;
  background: white;
  appearance: auto;
}
.span1 {
  grid-column: span 1;
}
.span2 {
  grid-column: span 2;
}
.span3 {
  grid-column: span 3;
}
.span4 {
  grid-column: span 4;
}
.span5 {
  grid-column: span 5;
}
.span6 {
  grid-column: span 6;
}
.span7 {
  grid-column: span 7;
}
.span8 {
  grid-column: span 8;
}
.span9 {
  grid-column: span 9;
}
.span10 {
  grid-column: span 10;
}
.span11 {
  grid-column: span 11;
}
.span12 {
  grid-column: span 12;
}
