/* Utilities */
.span1 {
  grid-column: span 1;
}
.span2 {
  grid-column: span 2;
}
.span3 {
  grid-column: span 3;
}
.span4 {
  grid-column: span 4;
}
.span5 {
  grid-column: span 5;
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.formScreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(198, 198, 198);
  gap: 5rem;
  padding-bottom: 5rem;
}

.topBar {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  height: 6rem;
}

.topBar img {
  width: 12rem;
}

.topBarItems {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 2rem;
}

.language {
  width: 1rem;
}

.form {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.formSections {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.formSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

[dir="rtl"] .formSections {
  align-items: end;
}


.formSection h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.topDesign {
  width: 100%;
  height: 1rem;
  background-color: var(--selective-yellow);
}

.formRow {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  direction: inherit; /* Ensures grid respects parent's direction */
}
